.App {
  text-align: left;
  background: url(https://res.cloudinary.com/dzgeqcksj/image/upload/o_84,q_69,r_30/v1611018794/IMG_4310_old0r0.jpg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-y: top;
  /* background-color: floralwhite; */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.indexTweet {
  border: 1px dashed #61dafb;
  border-radius: 3px;
  position: relative;
  margin: 1% auto auto auto;
  width: 350px;
  padding: 25px 20px;
  box-sizing: content-box;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.tweetform {
  text-align: left;
  border: 1px dashed #61dafb;
  border-radius: 3px;
  position: relative;
  margin: 1% auto auto auto;
  width: 350px;
  padding: 25px 20px;
  box-sizing: content-box;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showpage {
  text-align: center;
  border: 1px dashed #61dafb;
  border-radius: 3px;
  position: relative;
  margin: 1% auto auto auto;
  width: 350px;
  padding: 25px 20px;
  box-sizing: content-box;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}